<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="form-container">
            <h2>Login</h2>
            <div id="messages">
                <div th:if="${loginError != null}" class="error"> <span th:text="${loginError}"> </span></div>
                <div th:if="${logoutSuccess != null}" class="success"><span th:text="${logoutSuccess}"> </span></div>
                <div th:if="${loginRequired != null}" class="info"> <span th:text="${loginRequired}"></span></div>
            </div>
            <div>
                <form id="login-form" th:action="@{/login}" method="post">
                    <input type="text" id="login-username" name="username" placeholder="Username" required>
                    <input type="password" id="login-password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
                <span> - or - </span> <br>
                <a id="redirect-link"  th:href="@{/signup}" >Sign up</a>
            </div>

        </div>
    </body>
</html>
