<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Setup 2FA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="form-container">
            <h2>Setup Two-Factor Authentication (2FA)</h2>
            <p>To enhance the security of your account, we recommend setting up two-factor authentication (2FA).</p>
            <div id="messages">
                <div th:if="${error != null}" class="error">
                    <span th:text="{error}"></span>
                    <br> <br>
                    <form th:action="@{/login}" method="get">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
            <div th:if ="${error == null}"id="qr-code-container">
                <p>Scan the QR code below with your authenticator app:</p>
                <br>
                <p>And then enter the code shown on the app</p>
                <img id="qr-code-image" th:src="'https://image-charts.com/chart?chs=150x150&cht=qr&chl=' + ${uri} + '&choe=UTF-8'" alt="QR Code">
                <form class="form" th:action="@{/verify-factor}" method="post">
                    <label for="code">Enter the verification code from your authenticator app</label>
                    <input type="text" id= "code" class="code" name="code" placeholder="Verification Code" required>
                    <button type="submit">Submit</button>
                </form>
                <div th:if="#{verifyError != null}" class="error">
                    <span th:text="${verifyError}"></span>
                </div>
            </div>
        </div>
    </body>
</html>
